In [1]:
import pandas as pd
import json
from pymongo import MongoClient

In [6]:
def get_database():

    # Provide the mongodb atlas url to connect python to mongodb using pymongo
    CONNECTION_STRING = "mongodb://localhost:27017/" #it is the address for local server

    # Create a connection using MongoClient. 
    client = MongoClient(CONNECTION_STRING)

    
    return client['ffbb'] #client[<database>]




# Get the database
dbname = get_database()

In [7]:
dbname

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ffbb')

In [8]:
print(dbname.collection_names()) # print out the collection name
col = dbname.fb1

['fb1']

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_10992\3365772566.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  print(dbname.collection_names()) # print out the collection name

In [12]:
# cursur = col.find({"Page Name":"Willis Towers Watson"})
# for c in cursur:
#     print(c)

In [10]:
cursur = col.find({"Page Name":"Willis Towers Watson"})


dt = pd.DataFrame([row for row in cursur])
dt

,_id,Page Name,User Name,Facebook Id,Page Category,Page Admin Top Country,Page Description,Page Created,Followers at Posting,Post Created,...,Post Views,Total Views,Total Views For All Crossposts,Video Length,URL,Message,Link,Image Text,Link Text,Overperforming Score (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x )
0,6364688d62849bb912ee3502,Willis Towers Watson,willistowerswatson,2.14E+11,LOCAL BUSINESS,GB,Willis Towers Watson is a leading global advis...,2016-11-23 04:40:12 EST,23162,2021-02-28 22:21:33 EST,...,0,0,0,N/A,https://www.facebook.com/213983474385/posts/10...,Our missions are happening in 4 days - so the ...,https://www.facebook.com/willistowerswatson/ph...,"‎8 people, ‎'‎Mission to transform: Awaken the...",Timeline Photos,-1.28
1,6364688e62849bb912ee3c42,Willis Towers Watson,willistowerswatson,2.14E+11,LOCAL BUSINESS,GB,Willis Towers Watson is a leading global advis...,2016-11-23 04:40:12 EST,23122,2021-02-22 21:46:43 EST,...,0,0,0,N/A,https://www.facebook.com/213983474385/posts/10...,Join our leaders for one-of-a-kind virtual eve...,https://www.facebook.com/willistowerswatson/ph...,‎'‎Willis Towers Watson וויויו.. Mission to tr...,Timeline Photos,-2.41

In [11]:
dt.to_csv("test.csv")